/* CSS files add styling rules to your content */

  body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: white;



  
}

h1 {
  font-style: bold;
  color: grey;
  text-align: center;
  text-size-adjust: large;
}

#myimage{
  width: 100px;
  height: 110px;
  display: flex;
  flex-flow: column;
  height: 100%;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  align-items: center;
}



#page1 {
  margin-top: 100px; /* Adjust this value as needed */
  margin-bottom: 100px;
}
#page2 {
  margin-top: 100px; /* Adjust this value as needed */
  margin-bottom: 100px;
}
#page3 {
  margin-top: 100px; /* Adjust this value as needed */
  margin-bottom: 100px;
}
#page4 {
  margin-top: 100px; /* Adjust this value as needed */
  margin-bottom: 100px;
}
h6{
  text-align: center;

}

.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
p{
  color: aqua;
  font-style:oblique;
  text-shadow: 
  -1px -1px 0 #000,  
   1px -1px 0 #000,
  -1px  1px 0 #000,
   1px  1px 0 #000;
   text-align: center;
}

.text-center-p-3-fixed-bottom-p-5
{
  margin-bottom: 50px;
}

.fixed-button {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  z-index: 1000; /* Adjust as needed */
}
